.row{
    margin-left: 0;
    margin-right: 0;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
/*navbar*/

@media (min-width:480px) {
    .show-mobile {
        display: none
    }
}

.side-nav {
    position: fixed;
    width: 7em;
    height: 70%;
    border: 0;
    z-index: 99;
    background-color: #808080;
    opacity: .85;
}

@media (max-width:480px) {
    .side-nav {
        width: 100%;
        height: auto
    }
}

@media (min-width:480px) and (max-height:700px),
(min-width:480px) and (max-width:1199px) {
    .side-nav {
        width: 6em;
        max-height: 33em;
    }
}

@media (max-width:480px) {
    .side-nav .nav-container {
        display: none;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-bottom: -.6em;
        margin-top: -.3em;
    }
}

.side-nav .logo {
    width: 120%;
    margin: -.5em -3em
}

@media (max-width:480px) {
    .side-nav .logo {
        display: none
    }
}

.side-nav .mobile-logo {
    width: 4.8em;
    position: absolute;
    left: .6em;
    top: -0.3em
}

@media (max-width:480px) {
    .side-nav .nav-link {
        width: 32%;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1
    }
}

.side-nav .nav-link:active,
.side-nav .nav-link:hover,
.side-nav .nav-link:link,
.side-nav .nav-link:visited {
    text-decoration: none
}

.side-nav .nav-icon {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: a .2s ease-in;
    animation: a .2s ease-in;
}

@media (max-width:480px) {
    .side-nav .nav-icon {
        width: 20%;
        margin: .5em 0em
    }
}

.side-nav #btn-01:hover {
    content: url(../assets/sidebar-svg/locate-color.svg)
}

side-nav #btn-01:active {
    content: url(../assets/sidebar-svg/locate-color.svg)
}

.side-nav #btn-02:hover {
    content: url(../assets/sidebar-svg/sun-color.svg)
}

.side-nav #btn-03:hover {
    content: url(../assets/sidebar-svg/clock-color.svg)
}

.side-nav #btn-04:hover {
    content: url(../assets/sidebar-svg/motorcycle-color.svg)
}

.mobile-row {
    height: 3.6em;
    margin-bottom: .3em
}

.burger-icon {
    width: 46px;
    height: 30px;
    top: 12px;
    right: 20px;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer
}

.burger-icon,
.burger-icon span {
    position: absolute;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
}

.burger-icon span {
    display: block;
    height: 6px;
    width: 100%;
    background: #fff;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out
}

.burger-icon span:nth-child(1) {
    top: 0
}

.burger-icon span:nth-child(1),
.burger-icon span:nth-child(2) {
    -webkit-transform-origin: left center;
    transform-origin: left center
}

.burger-icon span:nth-child(2) {
    top: 14px
}

.burger-icon span:nth-child(3) {
    top: 28px;
    -webkit-transform-origin: left center;
    transform-origin: left center
}

.burger-icon.open span:nth-child(1) {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.burger-icon.open span:nth-child(2) {
    opacity: 0;
    left: -10px
}

.burger-icon.open span:nth-child(3) {
    top: 32px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.hover-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -moz-osx-font-smoothing: grayscale
}

.hover-grow:active,
.hover-grow:focus,
.hover-grow:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}


/*cover*/

#title {
    width: 65vw;
    margin: auto;
    display: block;
}
.title{
    margin-top: 4em;
    margin-bottom: 5em;
}

.center{
     text-align: center;
    margin-bottom: 3em;
}
#intro{
    width: 50vw;
}

#car1,
#car2 {
    width: 30%;
    position: relative;
}

#car1{
   margin-bottom: -9em;
}

#car2 {
    float:right;
    margin-top: -13em;
}

.moved1{
    left: 0;
}

.moved2{
    right: 0;
}

@media screen and (min-width:1100px) and (max-width: 1200px){
    #car1 {
        margin-bottom: -7.5em;
    }
    #car2{
        margin-top: -12em;
    }
}

@media screen and (min-width:980px) and (max-width: 1100px){
    #car1 {
        margin-bottom: -6em;
    }
    #car2{
        margin-top: -10em;
    }
}

@media screen and (min-width:700px) and (max-width:980px) {
    #car1 {
        margin-bottom: -5em;
    }
    #car2{
        margin-top: -7.5em;
    }
}

@media screen and (min-width:530px) and (max-width:700px) {
    #car1 {
        margin-bottom: -4em;
    }
    #car2{
        margin-top: -6em;
    }
}

@media screen and (min-width:400px) and (max-width:530px) {
   #car1 {
        margin-bottom: -3em;
    }
    #car2{
        margin-top: -5em;
    }
}

@media screen and (min-width:300px) and (max-width:400px) {
   #car1 {
        margin-bottom: -2.5em;
    }
    #car2{
        margin-top: -3.7em;
    }
}

/*place title*/
#accidentmap{
    height: 100vh;
    opacity:1;
    background-image: url(../assets/accidentmap-01.png);
    background-attachment: fixed;
    background-size:cover;
    text-align: center;
}

@media screen and (max-width: 800px) {
    #accidentmap {
        background-image: url("../assets/accidentmap(pad).png");
        background-size:cover;
    }
}
@media screen and (max-width: 400px) {
    #accidentmap {
        background-image: url("../assets/accidentmap(phone).png");
        background-size:cover;
    }
}

#accidentmap:before{
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle
}
#placetitle{
    width: 50vw;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    opacity: 1 !important;
    z-index: 99;
}


/*google map*/
#place{
    overflow-y: scroll;
}

#map{
    height:100vh;
    position: fixed;
    z-index: 50;
    overflow-y: scroll;
    margin-right: -15px;
}

#box{
    height: 100vh;
    overflow-y: scroll;
    float: right
}

#place1, #place2, #place3{
    height: 100vh;
}

#place2, #place3{

}

section{
    opacity: 0.25;
    margin-bottom: 5em;
}

section.active {
    opacity: 1;
}

.boxtitle{
    font-family: 'Varela Round', sans-serif;
    color: #f9a825;
    font-size: 9em;
    text-align: center;
}

.boxsubtilte{
    font-family: 'cwTeXYen', sans-serif;
    color: #ffffff;
    text-align: center;
    font-size: 3em;
}

.boxp{
    font-family: 'cwTeXYen', sans-serif;
    color: #ffffff;
    font-size: 1.2em;

}

.count{
    font-family: 'cwTeXYen', sans-serif;
    color: #000000;
    text-align: center;
    font-size: 2.8em;
}

#number30, #number25, #number23{
    font-family: 'Varela Round', sans-serif;
    color: #000000;
    text-align: center;
    font-size: 3.5em;
/*    visibility: hidden;*/
}

.sv{
    text-align: center;
}

.sv img{
    width: 10vw;
}

@media screen  and (min-width: 600px) and (max-width: 960px){
    .boxtitle{
        font-size: 5.4em;
    }
    .boxsubtilte{
        font-size: 3em;
    }

    .count{
        font-size: 2em;
    }

    #number30, #number25, #number23{
        font-size: 4em;
    }

    .sv img{
        width: 22vw;
    }
}
@media screen  and (max-width: 600px){
    #map{
        height: 50vh;
    }
    #box{
        height: 50vh;
    }

    .boxtitle{
        font-size: 5em;
    }
    .boxsubtilte{
        font-size: 3em;
    }

    .count{
        font-size: 2em;
    }

    #number30, #number25, #number23{
        font-size: 2.8em;
    }

    .sv img{
        width: 30vw;
    }
}

/*weather*/

#weather{
    text-align: center;
}

#weathertitle{
    margin-top: 4em;
    margin-bottom: 2.5em;
    width: 60vw;
}

#weatherpie{
    width: 50vw;
    margin-bottom: 5em;
}

/*time*/
#time{
    text-align: center;
}

#timetitle{
    margin-top: 7em;
    margin-bottom: 3em;
    width: 50vw;
}

#timegraph{
    width: 60vw;
    margin-bottom: 5em;
}

/*carkind*/

.title{
    text-align: center;
}

#cartitle{
    width: 70vw;
}

#mbike, #car, #taxi, #passenger, #truck, #bike, #bus{
    visibility: hidden;
}

/*end*/
#end{
    text-align: center;
    position: absolute;
}

#endroad{
    display: block;
    position: absolute;
}

#carend{
    width: 35%;
    display: block;
    position: relative;
    left: 32%;
    bottom: -10em;
    margin: 0;
}








/*
footer{
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}
*/
